#Calque_1 {
    width: 200px;
    height: 75px;
}
.cls-1,.cls-2{
fill:none;
}
.cls-1,.cls-2,.cls-3,.cls-4{
	stroke:#221f1f;
	stroke-miterlimit:10;
}
.cls-1,.cls-2,.cls-3{
	stroke-width:20px;
}
.cls-2{
	stroke-linecap:round;
}
.cls-3{
	fill:#0071bc;
}
.cls-4{
	fill:#fff;
	stroke-width:12px;
}
.cls-5{
	font-size:72px;
	fill:#221f1f;
	font-family:Bauhaus93, Bauhaus 93;
	letter-spacing:0.05em;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 5px;
    height: 100px;
}
.navbar-default{
	margin-bottom: 5px;
}